<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecoash">

    <!-- Permiso para acceso a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permiso para recibir notificaciones (si usas Firebase Cloud Messaging) -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoAsh">

        <!-- Actividad principal -->
        <activity
            android:name=".views.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividades de usuario (Cliente) -->
        <activity
            android:name=".views.activities.ClientHomeActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".views.activities.RegisterUserActivity"
            android:exported="true" />

        <!-- Actividades de administrador -->
        <activity
            android:name=".views.activities.AdminDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".views.activities.AdminRegisterUserActivity"
            android:exported="true" />
        <activity
            android:name=".views.activities.AdminHomeActivity"
            android:exported="true" />
    </application>
</manifest>
